@import "tailwindcss";

:root {
  color-scheme: dark;

}

* {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --neon-gradient: linear-gradient(135deg, #9c27b0, #3f51b5);
  --neon-shadow: 0 0 15px rgba(156, 39, 176, 0.7);
  --neon-text-shadow: 0 0 10px rgba(156, 39, 176, 0.7);


  --color-neon-purple: #bb86fc;
  --color-neon-blue: #3f51b5;
  --color-dark-bg: #121212;
  --color-dark-surface: #1a1a1a;
  --shadow-neon: 0 0 15px rgba(156, 39, 176, 0.7);
  --shadow-neon-hover: 0 0 25px rgba(156, 39, 176, 0.9);

  --bg-neon-gradient: linear-gradient(135deg, #9c27b0, #3f51b5);

  --text-shadow-neon: 0 0 10px rgba(156, 39, 176, 0.7);

  --animate-fall: fall 5s linear infinite;

  --animate-blur: blur 1s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-20px, -10px) rotate(-20deg);
  }
  50% {
    transform: translate(20px, 45px) rotate(11deg);
  }
  75% {
    transform: translate(-11px, -19px) rotate(-30deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}