@import "tailwindcss";

:root {
  color-scheme: dark;

}

* {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --neon-gradient: linear-gradient(135deg, #9c27b0, #3f51b5);
  --neon-shadow: 0 0 15px rgba(156, 39, 176, 0.7);
  --neon-text-shadow: 0 0 10px rgba(156, 39, 176, 0.7);


  --color-neon-purple: #bb86fc;
  --color-neon-blue: #3f51b5;
  --color-dark-bg: #121212;
  --color-dark-surface: #1a1a1a;
  --shadow-neon: 0 0 15px rgba(156, 39, 176, 0.7);
  --shadow-neon-hover: 0 0 25px rgba(156, 39, 176, 0.9);

  --bg-neon-gradient: linear-gradient(135deg, #9c27b0, #3f51b5);

  --text-shadow-neon: 0 0 10px rgba(156, 39, 176, 0.7);

  --animate-fall: fall 5s linear infinite;

  --animate-blur: blur 1s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-20px, -10px) rotate(-20deg);
  }
  50% {
    transform: translate(20px, 45px) rotate(11deg);
  }
  75% {
    transform: translate(-11px, -19px) rotate(-30deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes punch {
  0% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  3.8% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  4% {
    transform: translate3d(-40px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  6% {
    transform: translate3d(-60px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  8% {
    transform: translate3d(-80px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  10% {
    transform: translate3d(-100px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  12% {
    transform: translate3d(-120px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  14% {
    transform: translate3d(-140px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  16% {
    transform: translate3d(-160px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  18% {
    transform: translate3d(-180px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  20% {
    transform: translate3d(-200px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  22% {
    transform: translate3d(-220px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  24% {
    transform: translate3d(-240px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  26% {
    transform: translate3d(-260px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  30% {
    transform: translate3d(-260px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  32% {
    transform: translate3d(-210px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  34% {
    transform: translate3d(-180px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  36% {
    transform: translate3d(-140px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  38% {
    transform: translate3d(-120px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  40% {
    transform: translate3d(-100px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  42% {
    transform: translate3d(-80px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  44% {
    transform: translate3d(-60px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  46% {
    transform: translate3d(-40px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  48% {
    transform: translate3d(-20px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  54% {
    transform: translate3d(-20px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  56% {
    transform: translate3d(-40px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  58% {
    transform: translate3d(-60px, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  69% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  70% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 30deg);
  }
  71% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  74% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  75% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 30deg);
  }
  76% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  }
}